.nav-link{
  font-size: 1.1rem;
}

.landing-container{
  background-color: rgb(4,152,158);
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.landing-item h1{
  color: whitesmoke;
}