.logo{
  height: 20rem;
}

.nav-link{
  font-size: 1.1rem;
}

.landing-container{
  background-color: rgb(4,152,158);
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

.one{
  width: 23rem;
}

.call-to-action{
  color: whitesmoke;
  font-family: 'Karla', serif;
}

.landing-item h1{
  color: whitesmoke;
  margin-bottom: 2rem;
  font-family: 'Merriweather', serif;
}

.statement-one{
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.statement-two{
  margin-bottom: 2rem;;
}

.button{
  background-color: black;
  padding: .75rem 2rem;
  border-radius: 100px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

.faq-action{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', serif;
  height: 4.5rem;
  border-bottom: black solid 2px;
  color: black;
}

.faq-action a{
  color: black;
  font-weight: bold;
}

.paintbox{
  border: black 2px solid;
  height: 75vh;
  width: 75vh;
}

.what-is-app{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1{
  font-family: 'Merriweather', serif;
}

p{
  font-family: 'Karla', serif;
}

h3{
  padding-bottom: 1rem;
  font-family: 'Merriweather', serif;
}

.how-to{
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(210, 156, 85);
  padding: 4rem;
}

.how-to-item h1{
  margin-bottom: 1.5rem;
}

.what-is-app-item{
  width: 23rem;
}

.what-is-app-item h1{
  margin-top: 2rem;
}

ul{
  list-style-type: none;
}

li{
  padding-bottom: 2rem;
  font-family: 'Karla', serif;
}

li > img{
  padding-right: 2rem;
}

.meet-the-engineer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:rgb(4,152,158);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.meet-the-engineer-item{
  display: flex;
  align-items: center;
}

.button{
  margin-right: 2rem;
}

.main-footer{
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  background-color: black;
}

h5{
  color: white;
}

.footNav{
  text-decoration: none;
  color: white;
}

.footer-button{
  background-color: white;
  padding: .50rem 1.5rem;
  border-radius: 100px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.main-faq{
  background-color: rgb(4,152,158);
  padding: 2rem 3rem;
}

.main-faq-item{
  text-align: center;
  color: white;
}

@media only screen and (max-width: 500px){
  .lotties{
    width: 25rem;
    height: 25rem;
  }
}

@media only screen and (max-width: 400px){
  .lotties{
    display: none;
  }

}